<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Expense</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</head>

<body>



    <div class="container">
        <h1 class="display-1">Presupuesto Mensual</h1>
        <div class="row">
            <div class="col add-expense cuadro">
                <h2>Nuevo movimiento</h2>


                <form action="http://localhost:3000/movements" method="POST">
                    <div class="row g-2">

                        <div class="col-md">
                            <div class="form-floating">
                                <input type="date" class="form-control date-picker" id="date-input" name="date" required>
                                <label for="date-input">Date</label>
                            </div>
                        </div>


                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="type-input" name="type">
                                    <option value="income">Income</option>
                                    <option value="expense">Expense</option>
                                </select>
                                <label for="type-input">Type</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="description-input"
                                    placeholder="Description..." name="description" required>
                                <label for="description-input">Description</label>
                            </div>
                        </div>


                        <div class="col-md">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="amount-input" placeholder="Amount..."
                                    min="1" name="amount" required>
                                <label for="amount-input">Amount</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="">
                                <input type="submit" class="form-control boton-enviar align-middle" value="Enviar">

                            </div>
                        </div>


                    </div>
                </form>
            </div>
            {{{body}}}
        </div>


    </div>

<script src="./js/main.js"></script>
</body>

</html>